 .navContainer {
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;
     margin-bottom: 20px;
     display: flex;
     justify-content: center;
 }

 .nav {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     max-width: 351px;
     height: 72px;
     border-radius: 20px;
     background: #FFF;
     box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
 }

 .ul {
     display: flex;
     column-gap: 60px;
 }

 .ul li img {
     width: 40px;
     height: 40px;
 }