body {
    background: var(--02, #FFF9C4);
}

.allContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container {
    display: flex;
    width: 100%;
    max-width: 335px;
    height: 40px;

    padding: 13px 281px 13px 20px;
    align-items: center;
    color: var(--777, #777);
    border-radius: 10px;
    background: var(--FFF, #FFF);
    border: none;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
}

.input {
    border: none;
    outline: none;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 335px;
    height: 52px;
    background: var(--FFF, #FFF);
    color: var(--primary-clor, #FFB600);
}