.Questions {
    display: flex;
    flex-direction: column;
    width: clamp(250px, 90%, 335px);
    height: 220px;
    border-radius: 12px;
    background: #FFF;
    margin: auto;
    margin-top: 73px;
    margin-bottom: 80px;
    text-align: center;
    padding-top: 20px;
}

.Questions div {
    margin: auto;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    font-size: 18px;
    width: 100%;
    max-width: 282px;
    height: 84px;
}