.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentContainer {
  padding: 0 20px;
}

.bannerLogoImg {
  width: 39px;
  height: 32px;
  margin: 9px 0 40px;
}

.quizBannerImg {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 300px;
}

.question-container {
  display: flex;
  width: 100%;
  padding: 40px 26px 68px 27px;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.question-container h3 {
  color: #FF9E00;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.question-container span {
  width: 282px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.choice-container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.choice {
  display: flex;
  border: 1.5px solid #FFB600;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  color: #000;
  font-size: 18px;
  font-weight: 600;
}