.all-container {
  background-color: white;
  min-height: 100vh;
  width: 100%;
}

.question-container {
  margin: auto;
  padding: 0 20px;
}

.questionCard {
  display: flex;
  width: 100%;
  height: 160px;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.questionCard p:first-child {
  margin-top: 12px;
  font-size: 14px;
}

.questionCard p:nth-child(2) {
  width: 282px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.block-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  place-content: center;
  margin: auto;
}

.word-block {
  background-color: #f0f0f0;
  padding: 10px 15px;
  text-align: center;
  border-radius: 12px;
  background: var(--03, #fff59d);
  font-size: 12px;
  height: 34px;
}

.block-container,
.emoji-container {
  display: flex;
  justify-content: center;
  margin: 8px auto;
}

.block-container {
  width: 340px;
  height: 144px;
  padding: 55px 3px;
}

.emoji-container {
  padding: 11px 0;
  width: 340px;
  height: 144px;
}

.form-container input {
  width: 100%;
  height: 40px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--primary-clor, #ffb600);
  background: var(--FFF, #fff);
  outline: none;
}

.inputContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 236px;
}

.correct {
  margin: auto;
  width: 92px;
  height: 121px;
}

.notCorrect {
  margin: auto;
  width: 102px;
  height: 113px;
}

.finishImg {
  display: flex;
  margin: 54px auto -26px auto;
  width: 80px;
  height: 119px;
}
